<h3 align="center">Get data in Excel file and transfrom it in dataframe or rdd format</h3>

### Import Library

In [1]:
from pyspark import SparkContext
from pyspark.sql import SQLContext
from pyspark.sql import SparkSession
import pandas as pd
import numpy as np
from datetime import datetime as date
import logging
from pyspark.sql.types import *
from pyspark.sql.functions import from_unixtime, unix_timestamp

### Create a session

In [10]:
session = SparkSession.builder.appName('Test').getOrCreate()
sc = session.sparkContext
sqlContext = SQLContext(sc)

### Read the file with pandas

In [11]:
file_name = 'data/data.xlsx'

In [12]:
excel  = pd.read_excel(file_name, sheet_name='data')

In [13]:
excel.head()

,id,label_nav,Shared,date,price,currency
0,366DKNK270,Graham Corporation,Industrial Machinery/Components,15/7/2020,660.53,$
1,428KAHR997,Duke Energy Corporation,Power Generation,18/12/2019,6.28,$
2,395GCOO967,SteadyMed Ltd.,Major Pharmaceuticals,1/3/2020,683.06,$
3,566BNZG003,"First Cash, Inc.",Other Specialty Stores,6/1/2020,911.97,$
4,406TXAG607,"Automatic Data Processing, Inc.",EDP Services,12/4/2020,390.26,$

### Describe a structure for this data and create a dataframe

In [14]:
schema = StructType([StructField("id", StringType(), True)\
                     ,StructField("label", StringType(), True)\
                     ,StructField("Shared", StringType(), True)\
                     ,StructField("date", StringType(), True)\
                     ,StructField("price", DoubleType(), True)
                    ,StructField("currency", StringType(), True)])

dataframe = session.createDataFrame(excel,schema = schema)

### Convert the date Like date type

In [ ]:
dateframe =  dataframe.select(
    'date', 
    from_unixtime(unix_timestamp('date', 'dd/mm/yyy')).alias('date')
)

### Get the rrd data from pandas

In [ ]:
rdd = dataframe.rdd

### Collect data in the rdd

In [18]:
rdd.first()

Row(id='366DKNK270', label='Graham Corporation', Shared='Industrial Machinery/Components', date='15/7/2020', price=660.53, currency='$')